/*----------------- Gallery styles -------------------*/

.gallery-title
{
    margin-top: 0;
    font-size: 36px;
    color: #666666;
    text-align: center;
    font-weight: 500;
}
.gallery-title:after {
    content: "";
    position: absolute;
    width: 7.5%;
    left: 46.5%;
    height: 45px;
    border-bottom: 1px solid #5e5e5e;
}
.filter-button
{
    font-size: 18px;
    border: 1px solid #666666;
    border-radius: unset;
    text-align: center;
    color: #666666;
    margin: 5px -3px;

}
.filter-button:hover
{
    font-size: 18px;
    border: 1px solid #666666;
    border-radius: unset;
    text-align: center;
    color: #ffffff;
    background-color: #666666;

}
.btn-default:active .filter-button:active
{
    background-color: #666666;
    color: white;
}

.item {
  background-color: #666666;
  padding-bottom: 10px;
  color: white;
}

.port-image
{
    width: 100%;
}

.gallery_product
{
    margin-top: 30px;
    margin-bottom: 30px;
}

.current {
  color: green;
}

#pagin li {
  display: inline-block;
}

/*----------------- CUSTOM STYLES -------------------*/

#mainWrap {
	padding: 100px 0;

}

.navbar-nav {
  font-weight: bold;
}

.navbar-nav .active,
.navbar-nav .active:hover
 {
  background-color: #eee !important;
  background: -webkit-linear-gradient(#ccc 15%, #eee 85%, #ccc 100%) !important;
  background: -o-linear-gradient(#ccc 15%, #eee 85%, #ccc 100%) !important;
  background: linear-gradient(#ccc 15%, #eee 85%, #ccc 100%) !important;
  color: #000 !important;
}

.navbar-nav .active:hover {
  text-decoration: underline;
}

.navbar-fixed-top {
  border-width: 1px;
}

.hidden {
  display: hidden;
}

.close span {
  float: right;
  padding-top: 10px;
  padding-right: 25px;
}

.thumb {
    margin-top: 10px;
    margin-bottom: 10px;
}

.gal_menu {
	width: 45%;
	margin: 0 auto;
}
.gal_pagination_top,
.gal_pagination_bottom {
  margin: 0 auto;
  text-align: center;
}

.thumb h4,
.gallery_product h4 {
  text-align: center;
	text-transform: uppercase;
}

.modal_view {
  width: 100%;
  padding: 7px 3px;
}

.modal-body h4 {
  width: 85%;
  float: left;
}
.modal-dialog {
  margin-top: 150px;
  margin-bottom: 150px;
}
.gal-c-i {
  bottom: -11px;
}

/* --------- upload styles --------- */

.popover {
  max-width: 600px;
  width: 600px;
  max-height: 480px;
  height: 480px;
}

.popover-content img {
  width: 100%;
  height: 90%;
}

.input-group-btn {
  float: left;
  margin-top: 5px;
}

.image-preview-input {
  position: relative;
	overflow: hidden;
	margin: 0px;
  color: #333;
  background-color: #fff;
  border-color: #ccc;
}

.image-preview-input input[type=file] {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	padding: 0;
	font-size: 20px;
	cursor: pointer;
	opacity: 0;
	filter: alpha(opacity=0);
}

.image-preview-input-title {
    margin-left:2px;
}

/* ----------------- Modal carousel ------------------ */

.modal-carousel .carousel-caption {
    background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.1) 4%, rgba(0,0,0,0.5) 32%, rgba(0,0,0,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(4%,rgba(0,0,0,0.1)), color-stop(32%,rgba(0,0,0,0.5)), color-stop(100%,rgba(0,0,0,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.1) 4%,rgba(0,0,0,0.5) 32%,rgba(0,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.1) 4%,rgba(0,0,0,0.5) 32%,rgba(0,0,0,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.1) 4%,rgba(0,0,0,0.5) 32%,rgba(0,0,0,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.1) 4%,rgba(0,0,0,0.5) 32%,rgba(0,0,0,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
	width: 100%;
	left: 0px;
	right: 0px;
	bottom: 0px;
	text-align: left;
	padding-top: 5px;
	padding-left: 15%;
	padding-right: 15%;
}
.modal-carousel .carousel-caption .carousel-caption-header {
	margin-top: 10px;
	font-size: 24px;
}

@media (min-width: 970px) {
    /* Lower the font size of the carousel caption header so that our caption
    doesn't take up the full image/slide on smaller screens */
	.modal-carousel .carousel-caption .carousel-caption-header {
		font-size: 36px;
	}
}
.modal-carousel .carousel-indicators {
	bottom: 0;
	margin-bottom: 0;
}
.modal-carousel .carousel-control {
	z-index: 30;
}
.modal-carousel .modal-carousel-progress-bar {
    height: 5px;
    background-color: #5cb85c;
    width: 0%;
    margin: -5px 0px 0px 0px;
    border: none;
    z-index: 30;
    position: relative;
}
.modal-carousel .modal-carousel-progress-bar.animate {
    /* We make the transition time shorter to avoid the slide transitioning
    before the timer bar is "full" - change the 4.25s here to fit your
    carousel's transition time */
    -webkit-transition: width 4.25s linear;
	-moz-transition: width 4.25s linear;
	-o-transition: width 4.25s linear;
	transition: width 4.25s linear;


}
#touchvpn_icon_container { /* delete this */
  display: none;
}

/* ----------------- SEARCH STYLES ------------------ */

.search-form .form-group input.form-control::-webkit-input-placeholder{
  display:none;
}
.search-form .form-group input.form-control::-moz-placeholder{
  display:none;
}
.navbar-right{
  min-width:250px; /*or I can probably just use columns*/
}



@media (min-width: 768px){
  .navbar-right {
    margin-right: 0;
  }
  .navbar-menu-right {
    float: right;
  }
}
.navbar-right form{
  margin: 5px 0 !important;
  width:100%;
}

.form-group{
  position:relative;
  width:0%;
  min-width:40px;
  height:40px;
  overflow:hidden;
  transition: width 1s;
  backface-visibility:hidden;
}
.form-group input.form-control{
  position:absolute;
  top:0;
  right:0;
  outline:none;
  width:100%;
  height:40px;
  margin:0;
  z-index:10;
}
input[type="text"].form-control{
  -webkit-appearence:none;
  -webkit-border-radius:0;
}
.form-control-submit,
.search-label{
  width:40px;
  height:40px;
  position:absolute;
  right:0;
  top:0;
  padding:0;
  margin:0;
  text-align:center;
  cursor:pointer;
  line-height:40px;
  background:#5BC0DE;
  color: #fff;
}
.form-control-submit{
  background:#5BC0DE; /*stupid IE*/
    opacity: 0;
  color: #fff;
  border:none;
  outline:none;
  z-index:-1;
}
.search-label{
  z-index:90;
}
.form-group {
    margin-bottom: 0 !important;
}
.well .form-group {
  margin-bottom: 15px !important;
  width: 100%;
}
.well .form-group .form-control {
  border: 1px solid #ccc;
}

.comment_section .form-control {
  margin-bottom: 10px;
}

@media (max-width: 767px){
  .form-group {
    margin: 10px !important;
    width: 97% !important;
  }
  li .navbar-right {
    border-top: 2px solid #ccc;
  }
}
.form-group.sb-search-open,
.no-js .sb-search-open{
  width:100%;
}
.form-group.sb-search-open .search-label,
.no-js .sb-search .search-label {
	background: #5BC0DE;
	color: #fff;
	z-index: 11;
}
.form-group.sb-search-open .form-control-submit,
.no-js .form-control .form-control-submit {
	z-index: 90;
}
.glyphicon-search {
  margin: 10px;
}
