/*----------------- Gallery styles -------------------*/

.gallery-title
{
    font-size: 36px;
    color: #666666;
    text-align: center;
    font-weight: 500;
}
.gallery-title:after {
    content: "";
    position: absolute;
    width: 7.5%;
    left: 46.5%;
    height: 45px;
    border-bottom: 1px solid #5e5e5e;
}
.filter-button
{
    font-size: 18px;
    border: 1px solid #666666;
    border-radius: 5px;
    text-align: center;
    color: #666666;
    margin-bottom: 5px;

}
.filter-button:hover
{
    font-size: 18px;
    border: 1px solid #666666;
    border-radius: 5px;
    text-align: center;
    color: #ffffff;
    background-color: #666666;

}
.btn-default:active .filter-button:active
{
    background-color: #666666;
    color: white;
}

.port-image
{
    width: 100%;
}

.gallery_product
{
    margin-top: 30px;
    margin-bottom: 30px;
}

/*----------------- CUSTOM STYLES -------------------*/

#mainWrap {
	padding-top: 100px;
}

.navbar-nav {
  font-weight: bold;
}

.navbar-nav .active,
.navbar-nav .active:hover
 {
  background-color: #eee !important;
  background: -webkit-linear-gradient(#ccc 15%, #eee 85%, #ccc 100%) !important;
  background: -o-linear-gradient(#ccc 15%, #eee 85%, #ccc 100%) !important;
  background: linear-gradient(#ccc 15%, #eee 85%, #ccc 100%) !important;
  color: #000 !important;
}

.navbar-nav .active:hover {
  text-decoration: underline;
}

.navbar-fixed-top {
  border-width: 1px;
}


.close span {
  float: right;
  padding-top: 10px;
  padding-right: 25px;
}

.search {
	width: 300px;
	margin: 10px 15px;
}

.search form {
  height: 26px;
}

.search input[type="text"] {
	width: 70%;
}

.thumb {
    margin-top: 10px;
    margin-bottom: 10px;
}

.gal_menu {
	width: 45%;
	margin: 0 auto;
}

.thumb h4,
.gallery_product h4 {
  text-align: center;
	text-transform: uppercase;
}

.modal_view {
  width: 100%;
}

/* --------- upload styles --------- */

.popover {
  max-width: 600px;
  width: 600px;
  max-height: 480px;
  height: 480px;
}

.popover-content img {
  width: 100%;
  height: 90%;
}

.input-group-btn {
  float: left;
  margin-top: 5px;
}

.image-preview-input {
  position: relative;
	overflow: hidden;
	margin: 0px;
  color: #333;
  background-color: #fff;
  border-color: #ccc;
}

.image-preview-input input[type=file] {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	padding: 0;
	font-size: 20px;
	cursor: pointer;
	opacity: 0;
	filter: alpha(opacity=0);
}

.image-preview-input-title {
    margin-left:2px;
}

/* ----------------- Modal carousel ------------------ */

.modal-carousel .carousel-caption {
    background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.1) 4%, rgba(0,0,0,0.5) 32%, rgba(0,0,0,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(4%,rgba(0,0,0,0.1)), color-stop(32%,rgba(0,0,0,0.5)), color-stop(100%,rgba(0,0,0,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.1) 4%,rgba(0,0,0,0.5) 32%,rgba(0,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.1) 4%,rgba(0,0,0,0.5) 32%,rgba(0,0,0,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.1) 4%,rgba(0,0,0,0.5) 32%,rgba(0,0,0,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.1) 4%,rgba(0,0,0,0.5) 32%,rgba(0,0,0,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
	width: 100%;
	left: 0px;
	right: 0px;
	bottom: 0px;
	text-align: left;
	padding-top: 5px;
	padding-left: 15%;
	padding-right: 15%;
}
.modal-carousel .carousel-caption .carousel-caption-header {
	margin-top: 10px;
	font-size: 24px;
}

@media (min-width: 970px) {
    /* Lower the font size of the carousel caption header so that our caption
    doesn't take up the full image/slide on smaller screens */
	.modal-carousel .carousel-caption .carousel-caption-header {
		font-size: 36px;
	}
}
.modal-carousel .carousel-indicators {
	bottom: 0px;
	margin-bottom: 5px;
}
.modal-carousel .carousel-control {
	z-index: 30;
}
.modal-carousel .modal-carousel-progress-bar {
    height: 5px;
    background-color: #5cb85c;
    width: 0%;
    margin: -5px 0px 0px 0px;
    border: none;
    z-index: 30;
    position: relative;
}
.modal-carousel .modal-carousel-progress-bar.animate {
    /* We make the transition time shorter to avoid the slide transitioning
    before the timer bar is "full" - change the 4.25s here to fit your
    carousel's transition time */
    -webkit-transition: width 4.25s linear;
	-moz-transition: width 4.25s linear;
	-o-transition: width 4.25s linear;
	transition: width 4.25s linear;


}
