html {
  position: relative;
  height: 100%;
}
body {
  /* Margin bottom by footer height */
  min-height: 100%;
  background-image: url("./img/blackwoodpic.jpg");
}
p {
  color: #9d9d9d;
}
h1, h2, h3, h4, h5, h6 {
  color: #ddd;
}
a {
  color: #A84;
}
a:hover, a:focus {
  color: #DA4;
}
blockquote {
  color: #666;
}

/*----------------- Gallery styles -------------------*/

.gallery-title
{
    margin-top: 0;
    font-size: 36px;
    color: #ddd;
    text-align: center;
    font-weight: 500;
}
.gallery-title:after {
    content: "";
    position: absolute;
    width: 13.5%;
    left: 43.5%;
    height: 45px;
    border-bottom: 1px solid #DA4;
}
.filter-button
{
    font-size: 18px;
    border: 1px solid #111;
    border-radius: unset;
    outline: 5px auto #111;
    outline-width: inherit;
    text-align: center;
    color: #9d9d9d;
    background-color: #111;
    margin: 5px -2px;

}
.filter-button:hover, .filter-button:focus
{
    position: relative;
    border: 1px solid #A84 !important;
    color: #DA4 !important;
    background-color: #111 !important;
    outline: 5px auto #DA4;
}
.filter-button:active, .filter-button.active
{
    border: 1px solid #111 !important;
    color: #111 !important;
    background-color: #A84 !important;
    outline: 5px auto #DA4;
}
.filter-button:focus, .filter-button:active:focus, .filter-button.active:focus {
  outline: 5px auto #333333;
}
.gallery_product
{
    margin-top: 30px;
    margin-bottom: 30px;
}
/* ----------------- SEARCH STYLES ------------------ */

.search-form .form-group input.form-control::-webkit-input-placeholder,
.search-form .form-group input.form-control::-moz-placeholder{
  display:none;
}
.navbar-right{
  max-width:300px; /*or I can probably just use columns*/
}
.navbar-right > .dropdown > button {
  height: 50px;
  color: #9d9d9d;
  font-size: 16px;
  font-weight: bold;
}

.navbar-right > .dropdown > button:hover,
.navbar-right > .dropdown > button:focus,
.open > .btn-default.btn-inverse.dropdown-toggle {
  border-color: #111 !important;
  outline-color: #111 !important;
}
.navbar-right > .dropdown > .dropdown-menu {
  min-width: 300px;
  height: 60px;
  margin: 0;
  padding: 5px;
  font-size: 16px;
  background-color: #111;
  border: none;
  border-radius: 0;
  box-shadow: none;
}

.navbar-right form {
  margin: 5px 0 !important;
  width:100%;
}
.profile_form .form-group {
  width: 100%;
}
.form-group{
  position:relative;
  width:0%;
  min-width:40px;
  height:40px;
  overflow:hidden;
  transition: width 1s;
  backface-visibility:hidden;
}
.form-group input.form-control{
  position:absolute;
  top:0;
  right:0;
  outline:none;
  width:100%;
  height:40px;
  margin:0;
  z-index:10;
}
input[type="text"].form-control{
  -webkit-appearence:none;
  -webkit-border-radius:0;
}
.form-control-submit, .comment-control-submit,
.search-label {
  width: 40px;
  height: 40px;
  position: absolute;
  right: 0;
  top: 0;
  padding: 0;
  margin: 0;
  text-align: center;
  cursor: pointer;
  line-height: 40px;
  background-color: #A84;
  color: #fff;
}
.form-control-submit{
  background: #A84; /*stupid IE*/
  opacity: 0;
  color: #fff;
  border: none;
  outline: none;
  z-index: -1;
}
.comment-control-submit {
  position: relative;
  width: auto;
  height: auto;
  padding: 5px 10px;
  line-height: 20px;
  opacity: 1;
  z-index: 999;
}
.search-label{
  z-index:90;
}
.form-group {
    margin-bottom: 0 !important;
}

.well {
  background-color: #222;
  border: 2px solid #111;
}
.well legend {
  color: #9d9d9d;
  border-bottom: 2px solid #A84;
}
.well .form-group {
  margin-bottom: 15px !important;
  width: 100%;
}
.well .form-group .form-control {
  border: 3px solid #111;
}
.comment_section .form-control {
  margin-bottom: 10px;
}
@media (max-width: 767px){
  .form-group {
    margin: 10px !important;
    width: 97% !important;
  }
  li .navbar-right {
    border-top: 2px solid #ccc;
  }
  .transition-timer-carousel {
    display: none;
  }
}
.form-group.sb-search-open,
.no-js .sb-search-open{
  width:100%;
}
.form-group.sb-search-open .search-label,
.no-js .sb-search .search-label {
	background-color: #A84;
	color: #fff;
	z-index: 11;
}
.form-group.sb-search-open .form-control-submit,
.no-js .form-control .form-control-submit {
	z-index: 90;
}
.glyphicon-search {
  margin: 10px;
}
.form-control {
  background-color: #000;
}
.form-control.disabled {
  box-shadow: none;
  border: 3px solid #f00;
}
.form-control, .form-control:focus, .form-control.focused {
  box-shadow: none;
  border: 3px solid #A84;
}

.popuptext {
  position: absolute;
  right: 45px;
  top: 9px;
  font-size: 14px;
  color: #f00;
  z-index: 99;
  background-color: #000;
}
#comment .popuptext {
  position: absolute;
  top: 400px;
  left: 10px;
  background-color: #000;
  font-size: 14px;
  font-weight: bold;
}

#search .form-group{
  overflow: visible !important;
}
#search .popuptext {
  position: absolute;
  right: 45px;
  top: 42px;
  font-size: 14px;
}

.search-label.disabled {
  background-color: #f00 !important;
  color: #fff;
}
.search-label.default {
  background-color: #A84;
  color: #fff;
}


/*----------------- CUSTOM STYLES -------------------*/

#mainWrap {
	padding: 0;
  min-height: 100%;
}
#mainWrap .container {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #181818;
  min-height: 100%;
}
#transition-timer-carousel {
  padding: 0 30px;
}
#transition-timer-carousel > .left {
  margin-left: 30px;
}
#transition-timer-carousel > .right {
  margin-right: 30px;
}


.btn-warning {
  color: #111;
  font-weight: bold;
}
.navbar-nav {
  font-size: 16px;
  font-weight: bold;
}

.navbar, .navbar-nav {
  background-color: #111 !important;
}
.navbar-nav > li > a:hover {
  color: #DA4 !important;
}
.navbar-nav .active,
.navbar-nav .active:hover
 {
  background-color: #A84 !important;
  color: #000 !important;
}

.navbar-nav .active:hover {
  text-decoration: underline;
}

.navbar-fixed-top {
  border-width: 1px;
}

.hidden {
  display: hidden;
}

.gal_pagination_top,
.gal_pagination_bottom,
.com_pagination_top {
  margin: 0 auto;
  text-align: center;
}
.pagination > li {
  font-size: 15px;
  font-weight: bold;
}
.pagination > li > a {
  color: #ddd;
  background-color: #111;
  border: 2px solid #111;
}
.pagination > li > a:focus,
.pagination > li > a:hover {
  color: #DA4;
  background-color: #111;
  border: 2px solid #111;
  text-decoration: underline;
}
.pagination > .disabled > a,
.pagination > .disabled > a:focus,
.pagination > .disabled > a:hover {
  color: #111;
  background-color: #666;
  border: 2px solid #666;
  text-decoration: none;
}
.pagination > .active > a,
.pagination > .active > a:hover,
.pagination > .active > a:focus {
  color: #111;
  background-color: #DA4;
  border: 2px solid #A84;
  text-decoration: none;
}

.thumb {
  margin: 13px;
  padding: 0;
}
.home_gal {
  padding: 0;
}
.thumb_list {
  margin: 0 auto;
  width: 100%;
  float: left;
}
@media (max-width: 488px) {
  .thumb_list > .col-xs-6 {
      width: 95%;
      float: left;
  }
  .gallery_list > .col-xs-6 {
      width: 95%;
  }
}
@media (min-width: 489px) {
  .thumb_list > .col-xs-6 {
      width: 44.5%;
      float: left;
  }
  .gallery_list > .col-xs-6 {
      width: 44.5%;
  }
  .modal_comments {
    padding: 0 30px;
  }
}
@media (min-width: 768px) {
  .thumb_list > .col-xs-6 {
      width: 46.5%;
      float: left;
  }
  .gallery_list > .col-sm-4 {
      width: 29.7%;
  }
  .modal_comments {
    padding: 0 30px;
  }
  .navbar-right {
    margin-right: 0;
  }
  .navbar-menu-right {
    float: right;
  }
}
@media (min-width: 992px) {
  .thumb_list > .col-md-4 {
      width: 22.3%;
      float: left;
  }
  .gallery_list > .col-md-4 {
      width: 30.5%;
  }
  .modal_comments {
    padding-right: 30px;
  }
}
@media (min-width: 768px) and (max-width: 992px) {  /* test and change this */
  .navbar-nav li a,
  .navbar-right > .dropdown > button {
    font-size: 14px;
    font-weight: normal;
    padding: 15px 5px;
  }
}
@media (min-width: 1200px) {
  .home_gal .col-lg-3 {
    width: 22.7%;
    float: left;
  }
  .gallery_list .col-lg-4 {
      width: 31%;
  }
}
.thumb h4,
.gallery_product h4 {
  margin: 0;
  padding: 10px;
  text-align: center;
	text-transform: uppercase;
  color: #fff;
  background-color: #111;
}

.thumb h5 {
  margin: 0;
  padding: 10px;
  text-align: center;
  background-color: #000;
}

.gal_menu > button,
.gal_menu > a {
  float: left;
  width: 50%;
}
.thumbnail {
  padding: 0;
  margin: 0;
  border: none;
  border-radius: 0;
  cursor: pointer;
}

.thumb {
  border: 2px solid #000;
}
a.thumbnail.active, a.thumbnail:focus, a.thumbnail:hover {
  border: none;
}
/* ------------- Modal styles -----------*/
.modal_view {
  width: 100%;
}
.modal-content {
  background-color: #222;
}
.modal-body {
  padding: 15px 0 10px;
}
.modal-body h4 {
  width: 85%;
  float: left;
}
.modal-body h5 {
  border-bottom: 1px solid #A84;
}

.modal-body hr, hr {
  border-color: #A84;
}
.modal-body .row {
  margin: 0;
  background-color: #111;
}
.modal-dialog {
  margin-top: 150px;
  margin-bottom: 150px;
}
button.close {
  color: #ddd;
  opacity: 1;
}
.close span {
  position: absolute;
  right: 30px;
  top: 23px;
  float: right;
}
.gal-c-i {
  bottom: -11px;
}
.page-header {
  padding: 15px;
  color: #ddd;
  border-bottom: 1px solid #A84;
}
.com_list {
  float: left;
  width: 100%;
  margin-bottom: 15px;
  background-color: #111;
}
.com_form, .comment, .com_text {
  float: left;
  width: 100%;
}
.comment hr {
  clear: both;
  margin: 0;
}
.username {
  float: left;
  color: #DA4;
}
.com_date {
  float: right;
  text-align: right;
  font-size: 11px;
  padding-top: 4px;
  padding-bottom: 4px;
  color: #444;
}
.username, .com_date {
  width: 50%;
  padding-left: 5px;
  padding-right: 5px;
  margin-bottom: 0;
}
.com_text {
  padding: 0 5px;
}
#comment textarea {
  resize: none;
  width: 100%;
  height: 100px !important;
  border-radius: 0;
}

/* --------- upload styles --------- */

.popover {
  max-width: 600px;
  width: 600px;
  max-height: 480px;
  height: 480px;
}

.popover-content img {
  width: 100%;
  height: 90%;
}

.input-group-btn {
  float: left;
  width: 100%;
  margin-top: 5px;
  border-radius: 0;
}
.upload_select {
  border-radius: 0;
}

.image-upload-input {
  float: left;
  padding: 7px 15px;
  border-radius: 0;
}

#image_files_upload {
  float: left;
  width: 100%;
  margin-left: 0 !important;
  margin-bottom: 10px !important;
  border-radius: 0;
}
/* ----------------- vpn icon ------------------ */


#touchvpn_icon_container { /* delete this */
  display: none;
}


/* ------------------ inverse button styles ------------------*/

.btn-default.btn-inverse {
  color: #A84;
  background-color: #111;
  border-color: #111;
  border-radius: 0;
}
.btn-default.btn-inverse:focus, .btn-default.btn-inverse.focus {
  border-color: #A84;
}
.btn-default.btn-inverse:hover {
  border-color: #A84;
}
.btn-default.btn-inverse:active, .btn-default.btn-inverse.active, .open > .btn-default.btn-inverse.dropdown-toggle {
  color: #111;
  background-color: #A84;
  border-color: #DA4;
}
.btn-default.btn-inverse:active:hover, .btn-default.btn-inverse:active:focus,
.btn-default.btn-inverse:active.focus, .btn-default.btn-inverse.active:hover,
.btn-default.btn-inverse.active:focus, .btn-default.btn-inverse.active.focus,
.open > .btn-default.btn-inverse.dropdown-toggle:hover, .open > .btn-default.btn-inverse.dropdown-toggle:focus,
.open > .btn-default.btn-inverse.dropdown-toggle.focus {
  color: #111;
  background-color: #A84;
  border-color: #DA4;
}
.btn-default.btn-inverse:active, .btn-default.btn-inverse.active, .open > .btn-default.btn-inverse.dropdown-toggle {
  background-image: none;
}
.btn-default.btn-inverse:hover {
  color: #111;
  background-color: #A84;
  border-color: #111;
}
.btn-default.btn-inverse:hover:focus, .btn-default.btn-inverse:hover.focus {
  color: #DA4;
  background-color: #111;
  border-color: #8c8c8c;
}
.btn-default.btn-inverse:hover:hover {
  color: #DA4;
  background-color: #111;
  border-color: #A84;
}
.btn-default.btn-inverse:hover:active, .btn-default.btn-inverse:hover.active, .open > .btn-default.btn-inverse:hover.dropdown-toggle {
  color: #111;
  background-color: #A84;
  border-color: #DA4;
}
.btn-default.btn-inverse:hover:active:hover, .btn-default.btn-inverse:hover:active:focus,
.btn-default.btn-inverse:hover:active.focus, .btn-default.btn-inverse:hover.active:hover,
.btn-default.btn-inverse:hover.active:focus, .btn-default.btn-inverse:hover.active.focus,
.open > .btn-default.btn-inverse:hover.dropdown-toggle:hover, .open > .btn-default.btn-inverse:hover.dropdown-toggle:focus,
.open > .btn-default.btn-inverse:hover.dropdown-toggle.focus {
  color: #111;
  background-color: #A84;
  border-color: #DA4;
}
.btn-default.btn-inverse:hover:active, .btn-default.btn-inverse:hover.active, .open > .btn-default.btn-inverse:hover.dropdown-toggle {
  background-image: none;
}

/*---------------- footer styles --------------*/

.footer {
  position: absolute;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 65px;
  background-color: #111;
}
.footer h6 {
  position: relative;
  top: 30px;
  float: right;
  color: #222;
}
