/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  height: 100%;
}
body {
  /* Margin bottom by footer height */
  min-height: 100%;
  background-image: url("./img/blackwoodpic.jpg");
}
p {
  color: #9d9d9d;
}
h1, h2, h3, h4, h5, h6 {
  color: #ddd;
}
a {
  color: #A84;
}
a:hover, a:focus {
  color: #DA4;
}
.footer {
  position: absolute;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 65px;
  background-color: #111;
}
.footer h6 {
  position: relative;
  top: 30px;
  float: right;
  color: #222;
}
